# Catch-all owners for everything not specified below.
# @src https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @bountonw @deadpikle @mattleff

*.lua @mattleff @deadpikle
*.sh @mattleff @deadpikle

/.github/ @bountonw
*.md @bountonw
*.typ @bountonw
.tooling/markdownlint/forbidden_terms/* @bountonw
